@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all {
    display: flex;
}


.navBar {
    height: 200vh;
    width: 13vw;
    background-color: #474d5d;
    flex-shrink: 0;
}

.navBar ul li {
    color: #b9b5b4;
    list-style: none;
    padding: 15px;
    border: 1px solid;
    border-color: #4a5663;
}

.navBar a {
    text-decoration: none;
    color: #b9b5b4;
}

.navBar ul li:hover {
    background-color: #2abba7;
    cursor: pointer;
}

.navBar ul li a:hover {
    color: white;
}


.navBar ul li:active {
    background-color: #2abba7;
    cursor: pointer;
}

.navBar ul li a:active {
    color: white;
}

.navBar ul li:last-child {
    border-bottom: none;
}

.navBarHeader {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #354253;
    gap: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.mainHeader {
    background-color: #f4f5f7;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.mainHeader button {
    background-color: #33b2a7;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
}

.mainHeader p {
    color: #a59d9a;
}

.mainFunction {
    display: flex;
    gap: 10px;
    padding: 50px 0 20px 0;
}

.mainFunction select {
    padding: 10px;
    border: 1px solid #b9b5b4;
    border-radius: 5px;
}

.mainFunction button {
    background-color: #33b2a7;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
}

.mainFunction button:last-child {
    background-color: #f56d72;
}

.mainTable{
    display: flex;
    flex-direction: column;
    border: 1.5px #2abba7 solid;
    height: 100%;
}

.tableHeader {
    background-color: #33b2a7;
    color: white;
    font-size: larger;
    padding: 10px;
}

.centerTable{
    padding: 10px;
}
.centerTable table{
    border : 1px solid #ebebeb;
    border-collapse: collapse;
    width: 100%;
}

.centerTable th,
.centerTable td{
    text-align: left;
    border : 1px solid #ebebeb;
    padding: 20px;
}

.centerTable td button {
    background-color: #33b2a7;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
}

.centerTable td button:last-child {
    background-color: #f56d72;
}